@import 'preset';

// Tutorial Start
$default-size : 1.8em;
@function size ($size: 100) {
  @return $default-size * ($size/100);
}
h1  {
  font-size: size(100); (Schriftgröße = 120% des Basiswertes)
color: $fontcolor;
  margin-bottom: 20px;
}